.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 150px 150px;
    margin-top: 50px;
}

.item {
    flex-grow: 0;
    min-width: 10%;
    max-width: 33%;
}


.title-text {
    text-align: center;
    color: rgb(43, 133, 250);
}

.language-python {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(201, 198, 198, 0.63);
    padding: 10px;
}

.submission-form {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}
